In [48]:
# Import packages
import pandas as pd
import datetime

In [2]:
# Import dataset
data = pd.read_excel('output_GIS.xlsx')

In [38]:
# Explore data
data

,OBJECTID,x,y,Id,ORIG_FID,id_1,min,max,RASTERVALU,Landuse,C
0,1,27317.739252,34336.704354,0,0,0,-100,-110,12751,"ROAD,0.128655002,1;RESIDENTIAL,7247.18457,0.89...",NaN
1,2,27317.787862,34328.508611,0,1,0,-110,-115,13633,"ROAD,6.676845074,1;RESIDENTIAL,7238.955078,0.8...",NaN
2,3,27336.899458,34274.946400,0,2,0,-115,-125,132323,"ROAD,33080,1;RESIDENTIAL,33080,0.899999976;ROA...",NaN
3,4,27344.258888,34290.146348,0,3,0,-100,-115,147861,"ROAD,29572,1;RESIDENTIAL,29572,0.899999976;ROA...",NaN
4,5,27317.813600,34338.041900,0,4,0,-90,-100,8838,"RESIDENTIAL,4859.079102,0.899999976;ROAD,3975....",NaN

In [41]:
def landuse_split(data):

    item2_list = []

    item_number = 0

    for item in data['Landuse']:
        item_number += 1
        item_split = item.split(';')
        for item2 in item_split:
            item2_dict = {'Item_Number': item_number, 
                          'Item2': item2}
            item2_list.append(item2_dict)

    item2_df = pd.DataFrame(item2_list)
    
    return item2_df

In [42]:
def landuse_split_values(data):
    
    item2_df = data
    item_number = 0
    item_list1 = []
    item_list2 = []
    item_list3 = []

    for item in item2_df['Item2']:
        item_number += 1
        item_split = item.split(',')
        item_list1.append(item_split[0])
        item_list2.append(item_split[1])
        item_list3.append(item_split[2])
    
    item2_df['LandType'] = item_list1
    item2_df['LandValue1'] = item_list2
    item2_df['LandValue2'] = item_list3
    
    return item2_df

In [51]:
def landuse_merge(original_data, item2_df):

    data_merge = pd.merge(original_data, item2_df, how = 'left', left_on = ['OBJECTID'], right_on = ['Item_Number']).reset_index(drop = True)
    
    return data_merge

In [53]:
item_df = landuse_split(data)
item2_df = landuse_split_values(item_df)
data_merge = landuse_merge(data, item2_df)

In [54]:
# Explore output data
data_merge

,OBJECTID,x,y,Id,ORIG_FID,id_1,min,max,RASTERVALU,Landuse,C,Item_Number,Item2,LandType,LandValue1,LandValue2
0,1,27317.739252,34336.704354,0,0,0,-100,-110,12751,"ROAD,0.128655002,1;RESIDENTIAL,7247.18457,0.89...",NaN,1,"ROAD,0.128655002,1",ROAD,0.128655002,1
1,1,27317.739252,34336.704354,0,0,0,-100,-110,12751,"ROAD,0.128655002,1;RESIDENTIAL,7247.18457,0.89...",NaN,1,"RESIDENTIAL,7247.18457,0.899999976",RESIDENTIAL,7247.18457,0.899999976
2,1,27317.739252,34336.704354,0,0,0,-100,-110,12751,"ROAD,0.128655002,1;RESIDENTIAL,7247.18457,0.89...",NaN,1,"ROAD,5505.27832,1",ROAD,5505.27832,1
3,2,27317.787862,34328.508611,0,1,0,-110,-115,13633,"ROAD,6.676845074,1;RESIDENTIAL,7238.955078,0.8...",NaN,2,"ROAD,6.676845074,1",ROAD,6.676845074,1
4,2,27317.787862,34328.508611,0,1,0,-110,-115,13633,"ROAD,6.676845074,1;RESIDENTIAL,7238.955078,0.8...",NaN,2,"RESIDENTIAL,7238.955078,0.899999976",RESIDENTIAL,7238.955078,0.899999976
5,2,27317.787862,34328.508611,0,1,0,-110,-115,13633,"ROAD,6.676845074,1;RESIDENTIAL,7238.955078,0.8...",NaN,2,"ROAD,6384.92627,1",ROAD,6384.92627,1
6,3,27336.899458,34274.946400,0,2,0,-115,-125,132323,"ROAD,33080,1;RESIDENTIAL,33080,0.899999976;ROA...",NaN,3,"ROAD,33080,1",ROAD,33080,1
7,3,27336.899458,34274.946400,0,2,0,-115,-125,132323,"ROAD,33080,1;RESIDENTIAL,33080,0.899999976;ROA...",NaN,3,"RESIDENTIAL,33080,0.899999976",RESIDENTIAL,33080,0.899999976
8,3,27336.899458,34274.946400,0,2,0,-115,-125,132323,"ROAD,33080,1;RESIDENTIAL,33080,0.899999976;ROA...",NaN,3,"ROAD,33080,1",ROAD,33080,1
9,3,27336.899458,34274.946400,0,2,0,-115,-125,132323,"ROAD,33080,1;RESIDENTIAL,33080,0.899999976;ROA...",NaN,3,"CEMETERY,33080,0.5",CEMETERY,33080,0.5
10,4,27344.258888,34290.146348,0,3,0,-100,-115,147861,"ROAD,29572,1;RESIDENTIAL,29572,0.899999976;ROA...",NaN,4,"ROAD,29572,1",ROAD,29572,1
11,4,27344.258888,34290.146348,0,3,0,-100,-115,147861,"ROAD,29572,1;RESIDENTIAL,29572,0.899999976;ROA...",NaN,4,"RESIDENTIAL,29572,0.899999976",RESIDENTIAL,29572,0.899999976
12,4,27344.258888,34290.146348,0,3,0,-100,-115,147861,"ROAD,29572,1;RESIDENTIAL,29572,0.899999976;ROA...",NaN,4,"ROAD,29572,1",ROAD,29572,1
13,4,27344.258888,34290.146348,0,3,0,-100,-115,147861,"ROAD,29572,1;RESIDENTIAL,29572,0.899999976;ROA...",NaN,4,"CEMETERY,29572,0.5",CEMETERY,29572,0.5
14,4,27344.258888,34290.146348,0,3,0,-100,-115,147861,"ROAD,29572,1;RESIDENTIAL,29572,0.899999976;ROA...",NaN,4,"RESIDENTIAL,29572,1",RESIDENTIAL,29572,1
15,5,27317.813600,34338.041900,0,4,0,-90,-100,8838,"RESIDENTIAL,4859.079102,0.899999976;ROAD,3975....",NaN,5,"RESIDENTIAL,4859.079102,0.899999976",RESIDENTIAL,4859.079102,0.899999976
16,5,27317.813600,34338.041900,0,4,0,-90,-100,8838,"RESIDENTIAL,4859.079102,0.899999976;ROAD,3975....",NaN,5,"ROAD,3975.960205,1",ROAD,3975.960205,1

In [49]:
# Export as csv
data_merge.to_csv('output_GIS_' + datetime.datetime.now().strftime('%Y%m%d%H%M%S') + '.csv', index = False)